<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="First Suite" verbose="1">
    <groups>
        <run>
            <include name="testOne"></include>
        </run>
    </groups>
    <test name="First Test">
        <classes>
            <class name="tuyet.hoangthi.Bai10_Annotations.DemoAnnotations">
              <methods>
                    <include name="testTwoMethod"></include>

               </methods>
            </class>

        </classes>
    </test>

    <!-- chỉ định theo package-->
        <test name="Second Test1">
           <packages>
            <package name="tuyet.hoangthi.Bai10_Annotations"></package>
           </packages>


        </test>

<!--    <test name="Second Test">-->
<!--        <classes>-->
<!--            <class name="tuyet.hoangthi.Bai10_Annotations.DemoAnnotations">-->
<!--                <methods>-->
<!--                    <include name="testThreeMethod"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>